@page "/admin/  Lịch Sử Bán Hàng"
@page "/admin"
@inherits OwningComponentBase<IBooksStoreRepository>
<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>Stt</th>
            <th>Tên Xe</th>
            <th>Thương Hiệu </th>
            <th>Gía Thành</th>
            <td />
        </tr>
    </thead>
    <tbody>
        @if (BookData?.Count() > 0)
        {
            @foreach (Book b in BookData)
            {
                <tr>
                    <td>@b.BookID</td>
                    <td>@b.Title</td>
                    <td>@b.Genre</td>
                    <td>@b.Price.ToString("c")</td>
                    <td>
                        <NavLink class="btn btn-info btn-sm"
                                 href="@GetDetailsUrl(b.BookID)">
                            Thông Tin
                        </NavLink>
                        <NavLink class="btn btn-warning btn-sm"
                                 href="@GetEditUrl(b.BookID)">
                            Sửa Thông Tin
                        </NavLink>
                        <button class="btn btn-danger btn-sm"
                                @onclick="@(e => DeleteBook(b))">
                            Xóa
                        </button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">không</td>
            </tr>
        }
    </tbody>
</table>
<NavLink class="btn btn-primary" href="/admin/books/create">Tạo</NavLink>
@code {
    public IBooksStoreRepository Repository => Service;
    public IEnumerable<Book> BookData { get; set; }
    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }
    public async Task UpdateData()
    {
        BookData = await Repository.Books.ToListAsync();
    }
    public async Task DeleteBook(Book b)
    {
        Repository.DeleteBook(b);
        await UpdateData();
    }
    public string GetDetailsUrl(long id) => $"/admin/books/details/{id}";
    public string GetEditUrl(long id) => $"/admin/books/edit/{id}";
}